//    VARIABLES
// ===========================
$phase-one: #87CEFA;
$phase-two: #ffff00;
$phase-three: #ffdab9;
// ===========================

.phases {

  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  &_btn {
    border: 3px solid;
    height: 45px;
    width: 140px;

    &__one {
      background: $phase-one;
    }
    &__two {
      background: $phase-two;
    }
    &__three {
      background: $phase-three;
    }
  }
}