@import "../../normalise.css";

.player {
  position: relative;
  padding: 0;
  margin: 1rem 0 0 0;

  &__video {
    border: solid 5px;
    object-fit: fill;
    max-width: 100%;
    margin: 0;
    padding: 0;
    right: 1px;
    cursor: pointer;

    &_paused {
      transition: .0s;
      filter: brightness(50%);
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
