.progress {
  //background-color: yellowgreen;
  min-height: 50px;
  border-left: solid 5px ;
  border-bottom: solid 5px ;
  border-right: solid 5px ;
  //
  //margin-left: 1rem;
  //margin-right: 1rem;
  margin-top: 0;

  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;

  //transition: height 0.3s;
  background: rgba(0,0,0,0.2);

  //background: black;
  cursor: pointer;

  &__filled {
    width: 0;
    background: rgba(155,198,0,.3);
    flex: 0;
  }
  &__marker {
    position: absolute;
    left: -1px;
    height: 100%;
    width: 10px;
    border: 3px solid;
    background: #ffc600;
    cursor: ew-resize;
  }
  &__phasesAndEvents {

    //&_phase1 {
    position: absolute;
    height: 100%;
    //background: $phase-one;
    opacity: .8;
    //cursor: help;
    width: 40px;
    //&:hover {
    //

    //}
    //}
    //
    //&_phase2 {
    //  position: absolute;
    //  height: 100%;
    //  background: $phase-two;
    //  opacity: .8;
    //  //cursor: help;
    //  width: 90px;
    //  &:hover {
    //
    //  }
    //}
    //
    //&_phase3 {
    //  position: absolute;
    //  height: 100%;
    //  background: $phase-three;
    //  opacity: .8;
    //  //cursor: help;
    //  width: 140px;
    //  &:hover {
    //
    //  }
    //}
  }
}
